.login-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.robot-image {
    width: 100%;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; 
    font-size: 14px;
    text-align: left; 
    width: 40%;
    margin: 0 auto; 
}

.input-field {
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action-button1 {
    width: 20%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1c5fa5;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.action-button2 {
    width: 20%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e10c0c;
    color: rgb(2, 2, 2);
    cursor: pointer;
    font-size: 14px;
}

.action-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.footer-text {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}
