.robot-list-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center; 
}

.content-container {
  display: flex; 
  margin-top: 20px;
}

.robot-table {
  width: 60%; 
  border-collapse: collapse;
  margin-right: 20px; 
  text-align: left;
}

.robot-table th, .robot-table td {
  border: 1px solid #ddd;
  padding: 15px;
}

.robot-table th {
  background-color: #35393d;
  color: white;
}

.robot-row:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.robot-detail-container {
  width: 40%; 
  border: 1px solid #ccc;
  background-color: #e9ecef; 
  padding: 5px;
  border-radius: 1px;
}

.footer-text {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}
